dist/QuackConverter_alpha_1.5.3.exe
dist/conversor.exe
dist/QuackConverter_alpha_1.2.0.exe
dist/QuackConverter_alpha_1.5.1.exe
dist/QuackConverter_alpha_1.5.2.exe
dist/QuackConverter_alpha_1.5.4.exe
dist/QuackConverter_alpha_1.6.0.exe
dist/QuackConverter_alpha_1.6.1.exe
dist/QuackConverter_alpha_2.0.0.exe
dist/QuackConverter_alpha_2.0.1.exe
QuackConverter_alpha_1.2.0.spec
QuackConverter_alpha_1.5.1.spec
QuackConverter_alpha_1.5.2.spec
QuackConverter_alpha_1.5.3.spec
QuackConverter_alpha_1.5.4.spec
QuackConverter_alpha_1.6.0.spec
QuackConverter_alpha_1.6.1.spec
QuackConverter_alpha_2.0.0.spec
QuackConverter_alpha_2.0.1.spec
